body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #fff;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 10%;
}

#blurb {
    margin-top: 2.5em;
    font-weight: 100;
    line-height: 1.5em;
}

#blurb strong{
    font-weight: 700;
}

#blurb a {
    color: blue;
}

.caveat {
    font-size: 11px;
    color: #ccc;
    margin-top:1em;
    text-align:right;
}